@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  font-kerning: none;
  color: gray;
  background-color: black;
  cursor: default;
}

.page-main {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.comets {
  position: relative;
}

.comets__side {
  position: absolute;
  left: 92px;
  bottom: calc(50% - 250px);
  z-index: 2;
  text-align: left;
}

@media (max-width: 1199px) {
  .comets__side {
    left: 75px;
    bottom: 63px;
  }
}

@media (max-width: 659px) {
  .comets__side {
    left: 24px;
    bottom: 50px;
  }
}

@media (max-width: 350px) {
  .comets__side {
    left: 12px;
    bottom: 20px;
  }
}

.comets__header {
  width: 380px;
  height: 169px;
  margin-bottom: 62px;
  background: url("../images/comets-starter-title.svg") no-repeat center;
  background-size: contain;
  transition: filter 0.65s ease-in;
}

@media (max-width: 1199px) {
  .comets__header {
    margin-bottom: 52px;
  }
}

@media (max-width: 659px) {
  .comets__header {
    width: 267px;
    height: 126px;
    margin-bottom: 47px;
  }
}

@media (max-width: 350px) {
  .comets__header {
    width: 177px;
    height: 83px;
    margin-bottom: 22px;
  }
}

.comets__header--loading {
  filter: blur(5px) hue-rotate(-70deg) opacity(75%);
}

.comets__canvas-container {
  font-size: 0;
  line-height: 0;
}

#comets-canvas {
  border-radius: 10px;
}

.control__button {
  padding: 12px 28px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
  color: rgba(220, 0, 198, 1);
  border: 1px solid transparent;
  box-shadow: inset 0 0 20px rgba(220, 0, 198, 0);
  outline: 1px solid;
  outline-color: rgba(220, 0, 198, 1);
  outline-offset: 0;
  text-shadow: none;
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

.control__button:hover,
.control__button:focus {
  border: 1px solid rgba(220, 0, 198, 1);
  color: white;
  background-color: rgba(220, 0, 198, 1);
  box-shadow: inset 0 0 10px rgba(170, 0, 150, 0.9), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(220, 0, 198, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px rgb(150, 0, 150);
}

.control__button:active {
  opacity: 0.75;
}

.control__button:disabled {
  display: none;
}

.control__button--loading {
  color: rgba(135, 132, 227, 0.75);
  outline: none;
}
